ZMQ_ENABLED=true
ZMQ_PORT=5555
ZMQ_HOST=127.0.0.1

FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=0

APP_LOG_DIR=./app_logs
APP_LOG_LEVEL=INFO
APP_LOG_TO_CONSOLE=true
APP_LOG_TO_FILE=true
APP_LOG_MAX_FILE_SIZE_MB=10
APP_LOG_BACKUP_COUNT=5
APP_LOG_FORMAT=detailed
